body {
  background-color: #eee5e9;
}

#login {
  width: 400px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.table-success {
  --bs-table-bg: #33eb98;
  --bs-table-striped-bg: #aef4d5;
}

#student {
  margin: 50px;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  width: 400px;
  align-items: center;
  padding: 40px 0 10px;
}

#student > div {
  border: 2px solid black;
  margin: 5px 10px;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
}

.userID {
  font-size: 17px;
  display: flex;
  position: absolute;
  align-items: center;
  top: 22px;
  z-index: 10;
  background-color: #eee5e9;
}

.btn {
  line-height: 1;
}
